
body{
    background-color: black;
    color:white;
    font-weight: bolder;
    font-size: larger;
}
ul{
    padding: 0px;
    margin-bottom: 0px;
}
li{
    background-color: grey;
}
ul li{
    border: 1px solid grey;
    list-style: none;
    padding: 5px;
}

input{
    border: none;
    width: 100%;
    
}